{% extends 'base.html' %}

{% block corpo %}

{{ flash() }}

<div class="card my-3 me-8" style="min-width:20rem; max-width: 38rem; margin-left: 25px">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary float-right">Cadastrar</button>
            <div>Total de registros: {{total.total}} (ativos: {{total.ativos}} / inativos: {{total.inativos}})</div>
        </div>
        <div class="table-responsive ">
            <table class="table table-stripped" style="table-layout: fixed;">
                <thead class="text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="w-50">titulo</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                <tr class="text-center">
                    <th scope="row">{{post.idPosts}}</th>
                    <td class="w-75">{{post.titulo}}</td>
                    <td><a href="{{ url('admin/posts/editar/'~post.idPosts) }}">Editar</a></td>
                    <td><a href="{{ url('admin/posts/deletar/'~post.idPosts) }}">Deletar</a></td>
                    <td>
                        {% if post.status == 1 %}
                        Ativo
                        {% else %}
                        Inativo
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

